body{
    font-family: 'Open Sans', sans-serif;
}

header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title{
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}
nav > ul {
    display: flex;
    list-style-type: none;
}
nav li{
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}
nav li a{
    color:  #424242;
    text-decoration: none;
}
/* style nav menu */

.banner {
}

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-desc{
    color: #727272;
    line-height: 26px;
}
.btn-primary{
    width: 160px;
    height: 60px;
    font-size: 1.25rem;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;

    color: #FFF;
    font-weight: 600;
    border: none;
    margin-bottom: 10px;
}
.banner img {
    width: 100%;
    height: auto;
}

/* responsive style */

/* mobile devices */
@media screen and (max-width: 576px){
    header{
        padding: 20px;
        justify-content: center
    }
    nav{
    flex-direction: column;
}
    nav > li{
    flex-direction: column;
    margin-right: 0px;
}
}

/* tablet devices */
@media screen and (min-width: 576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
    nav > li{
        margin-right: 50px;
    }
    .banner img{
    }
}
